// mis estilos
.p-fila{
  display: flex;
}
.celda{
  border: 1px solid;
  border-color: white;
  width: 30px;
  height: 30px;
  margin: 1px;
  background-color: grey;
}
#panel{
  border: 1px solid;
  border-color: black;
  width: 300px;
}